/* carousel styles */
.basic-carousel-init{
    position: relative;
    display: block;
}

.basic-carousel-container{
  /* todo */
  overflow: hidden;
}

.basic-carousel-track{
  /* todo */
  position: relative;
}

.basic-carousel-track:after{
  content: '';
  display: block;
  clear: both;
}

.basic-carousel-prev, .basic-carousel-next{
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
  background: transparent;
  border: none;
  z-index: 999;
  cursor: pointer;
}

.basic-carousel-prev::before, .basic-carousel-next::before{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000;
  line-height: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .75;
}

.basic-carousel-prev:before{
  content: '\25C4';
}

.basic-carousel-next:before{
  content: '\25BA';
}

.basic-carousel-prev{
  left: -20px;
}

.basic-carousel-next{
  right: -20px;
}

.basic-carousel-block{
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0;
}
